---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Horizontal from "../components/Horizontal.astro";
---

<Layout title="Austin Schneider">
  <main>
    <Header />
    <p>
      Hello! I'm an incoming freshman at the University of Wisconsin Madison for
      Computer Science. You can <a id="a-email" href="">email me</a> or visit <a
        href="https://github.com/fallow64">my github</a
      >.
    </p>

    <Horizontal />

    <h2>Projects</h2>

    <ul>
      <li>
        <p>
          <a href="https://github.com/fallow64/flama">Flama</a> - A programming language
          written in Rust that transpiles to Minecraft blocks using <a
            href="https://mcdiamondfire.com/about">DiamondFire</a
          >'s coding system.
        </p>
      </li>
      <li>
        <p>
          <a href="https://github.com/fallow64/portfolio">This Website</a> - Made
          using <a href="https://astro.build">Astro</a>, a static site generator
          with a unique concept called "islands" that help you isolate
          server-side rendering from client-side rendering easily when you don't
          need complicated reactivity.
        </p>
      </li>
      <li>
        <p>
          <a href="https://fallow64.itch.io/tiny-ludwigs-big-adventure"
            >Tiny Ludwig's Big Adventure</a
          > - A game jam submission by 4 people for the 2024 Ludwig Game Jam. It
          is built using the Godot Engine and GDScript.
        </p>
      </li>
    </ul>

    <script is:inline lang="ts">
      // level 100 script kiddy obsfucation lol
      const a = "austin";
      const b = "schneider";
      const c = "314";
      const d = "gmail";
      const e = "com";

      const emailElem = document.getElementById("a-email");
      emailElem.href = `mailto:${a}${b}${c}@${d}${e}`;
    </script>
  </main>
</Layout>
