---
import Command from "../components/Command.astro";
import Profile from "../components/Profile.astro";
import Terminal from "../components/Terminal.astro";
import Layout from "../layouts/Layout.astro";

interface Project {
  title: string;
  href: string;
  description: string;
}

const projects: Project[] = [
  {
    title: "GPT Rewind",
    href: "https://github.com/fallow64/gpt-rewind",
    description:
      "A website that uses your ChatGPT conversation history to generate insights and analytics, presenting them in a Spotify Wrapped–style format. Built in 24 hours for MadHacks 2025, where we won Best AI Project.",
  },
  {
    title: "Flama",
    href: "https://github.com/fallow64/flama",
    description:
      "A statically-typed programming language written in Rust that compiles to Minecraft using DiamondFire. It makes creating games easier by moving from a block-based programming language to a text-based one.",
  },
  {
    title: "CHIP-8 Emulator",
    href: "https://github.com/fallow64/chip8emu",
    description:
      "An emulator for the CHIP-8 virtual machine, built using C++ and SDL3. It supports all CHIP-8 instructions and includes a simple GUI for loading and running games.",
  },
  {
    title: "SubgenX",
    href: "https://github.com/fallow64/subgenx",
    description:
      "A CLI utility for generating subtitles for videos using OpenAI's Whisper model. I've personally used it to transcribe 100+ hours of foreign-language videos.",
  },
  {
    title: "Tiny Ludwig's Adventure",
    href: "https://fallow64.itch.io/tiny-ludwigs-big-adventure",
    description:
      "A game jam entry for the 2023 Ludwig Game Jam. I worked with a team of four to create a game as the sole developer using the Godot engine.",
  },
];
---

<Layout
  title="Austin's Portfolio"
  description="Hello! I'm a developer studying CS at UW-Madison."
  ogImage="https://austinschneider.dev/og-image.jpg"
>
  <Profile />

  <Terminal>
    <Command command="cat ~/about.md" />
    <p>
      Hello, I'm Austin! I'm a developer studying CS at UW-Madison. I'm
      currently interning as a Web Developer at the <a
        href="https://chtc.cs.wisc.edu">Center for High Throughput Computing</a
      >, where I build and maintain web applications to support scientific
      research.
    </p>

    <br />

    <p>
      You can connect with me on
      <a href="https://linkedin.com/in/austinschneider314">LinkedIn</a>,
      <a id="a-email" href="">email me</a>, or visit <a
        href="https://github.com/fallow64">my GitHub</a
      >.
    </p>
  </Terminal>

  <Terminal>
    <Command command="cat ~/projects/*.md" />

    <ul class="space-y-4">
      {
        projects.map((p) => (
          <li>
            <div class="font-bold">
              <span class="text-muted select-none" aria-hidden="true">
                ##
              </span>{" "}
              <a href={p.href} class="text-accent">
                {p.title}
              </a>
            </div>
            <div class="pl-4">
              <span set:html={p.description} />
            </div>
          </li>
        ))
      }
    </ul>
  </Terminal>

  <Terminal>
    <Command command="ls ~/" />
    <p>
      <a href="/blog">📝 Check out my blog →</a>
    </p>
  </Terminal>
</Layout>

<script is:inline>
  const a = "mailt";
  const b = "o:austi";
  const c = "nschneider3";
  const d = "14@gm";
  const e = "ail.com";

  // set all external links to open in a new tab
  for (const elem of document.getElementsByTagName("a")) {
    if (elem.href.startsWith("/")) continue;
    elem.target = "_blank";
  }

  // level 100 script kiddy obsfucation lol
  const emailElem = document.getElementById("a-email");
  emailElem.href = `${a}${b}${c}${d}${e}`;
</script>
