---
import Nav from "../components/Nav.astro";
import ThemeManager from "../components/ThemeManager.astro";

interface Props {
  title: string;
  description?: string;

  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bg [scrollbar-gutter:stable]">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="any" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    {ogImage && <meta property="og:image" content={ogImage} />}
    {ogImage && <meta property="og:image:width" content="1200" />}
    {ogImage && <meta property="og:image:height" content="630" />}
    {ogImage && <meta property="og:image:type" content="image/png" />}
    <meta name="og:url" content="https://austinschneider.dev" />
    <meta name="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    {description && <meta name="twitter:description" content={description} />}
    {ogImage && <meta name="twitter:image" content={ogImage} />}

    <title>{title}</title>
  </head>
  <body
    class="my-5 mx-5 md:mx-auto max-w-[800px] text-[16px] font-mono text-main-text"
  >
    <Nav />
    <main>
      <slot />
    </main>
    <ThemeManager />
  </body>
</html>

<style is:global>
  @import "tailwindcss";

  @theme {
    /* see ThemeCycler.astro to find where these are defined */
    --color-bg: var(--color-bg);
    --color-fg: var(--color-fg);
    --color-main-text: var(--color-main-text);
    --color-muted: var(--color-muted);
    --color-border: var(--color-border);
    --color-accent: var(--color-accent);
  }
</style>
